KERNEL=="ttyUSB[0-9]*", SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="A903PAOI", MODE="0664", GROUP="plugdev", SYMLINK+="um7_imu"